[buildout]
extends = profiles/development.cfg

[instance]
http-address = 6061
user = admin:admin

#zope-conf-additional = 
#  <zodb_db main>
#  mount-point /
#    <zeoclient>
#      server {{component.zeo.connect}}
#      storage 1
#      name zeostorage
#      shared-blob-dir off
#      var /tmp/
#    </zeoclient>
#  </zodb_db>
